@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "BreeSerif";
  src: url(../fonts/BreeSerif-Regular.otf) format("truetype");
}